<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <div class="z-30 relative flex h-full w-full flex-col">
    <header class="relative">
      <h2 class="text-white pt-28 text-5xl font-medium">Disfrute de Tesla</h2>
      <p class="text-white text-sm">
        Programe una prueba de conducción hoy mismo
      </p>
    </header>

    <footer
      class="relative flex flex-col flex-grow justify-end pb-11 items-center"
    >
      <div>
        <a
          class="text-white inline-block border-2 border-white rounded px-12 py-2 font-medium backdrop-blur-sm hover:bg-white hover:text-black transition-colors"
          href="#">Prueba de conducción</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <video
      class="object-center object-cover h-screen w-screen"
      autoplay
      muted
      loop
      src="./video.mp4"></video>
  </div>
</section>
